<ion-content>
  <div class="start-quiz-wrapper">
    <ion-button
      (click)="startQuiz()"
      expand="full"
      fill="outline"
      class="start-quiz-button"
    >
      <ion-ripple-effect></ion-ripple-effect>
      Start Quiz
    </ion-button>
  </div>

  <div class="skip-quiz-wrapper">
    <ion-button
      expand="full"
      fill="outline"
      color="light"
      class="skip-quiz-button"
      (click)="skipQuiz()"
    >
      <ion-ripple-effect></ion-ripple-effect>
      Skip Quiz
    </ion-button>
  </div>
</ion-content>
