.start-quiz-wrapper,
.skip-quiz-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
}

.start-quiz-wrapper {
    height: 90%;

    ion-button {
        font-size: 30px;
    }
}

.skip-quiz-wrapper {
    .skip-quiz-button {
        font-size: 15px !important;
    }
}